<template>
  <div class="body">
  <div class="row">
    <div id="Start" class="col-12">
      <label class="Start">START CONNECTING YOUR WORLD</label><br/>
    </div>
  </div>
  <div class="row">
    <div id="Save" class="col-12">
      <label class="Save">Save time and money by making the internet work for you! We believe you might like...</label>
    </div>
  </div>
    <div class="row mb-3">
      <div  class="col-12">
        <input id="searchInput" placeholder="Search Services" >
      </div>
    </div>

    <div class="row">
      <div id="google" class="col-4">
        <button type="button"
                class="btn btn-link p-0">
          <img id="drivePic" src="../images/drive.png"><br/>
          <label id="driveLabel">Google Store</label>
        </button>
      </div>
      <div  class="col-2">
        <button  id="gira" @click="clicked"
                :style="{ backgroundColor:
                active ? 'rgba(51, 123, 190, 0)' :
                'rgba(10, 114, 212, 1)',
                color: active ? 'black' : 'white',
      }" type="button" class="btn btn-link">
          <img id="giraPic" src="../images/gira.png"><br/>
          <label id="giraLabel">Gira</label>
        </button>
      </div>
      <div id="dropbox" class="col-4">
        <button type="button" class="btn btn-link p-0">
          <img id="dropboxPic" src="../images/dropbox.png"><br/>
          <label id="dropboxLabel">Dropbox</label>
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div id="myBussiness" class="col-4">
        <button type="button" class="btn btn-link p-0">
          <img id="myBussinessPic" src="../images/mybussiness.png"><br/>
          <label id="myBussinessLabel">Google My Bussiness</label>
        </button>
      </div>
      <div id="automate" class="col-4">
        <button type="button" class="btn btn-link p-0">
          <img id="automatePic" src="../images/automate.png"><br/>
          <label id="automateLabel">Automate</label>
        </button>
      </div>
      <div id="salesForce" class="col-4">
        <button type="button" class="btn btn-link p-0">
          <img id="salesPic" src="../images/salesforce.png"><br/>
          <label id="salesLabel">Sales Force</label>
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div id="caltrain" class="col-4">
        <button type="button" class="btn btn-link p-0">
          <img id="caltrainPic" src="../images/caltrain.png"><br/>
          <label id="caltrainLabel">Caltrain</label>
        </button>
      </div>
      <div id="google2" class="col-4">
        <button type="button" class="btn btn-link p-0">
          <img id="google2Pic" src="../images/mybussiness2.png"><br/>
          <label id="google2Label">Google My Bussiness</label>
        </button>
      </div>
      <div id="inVoice" class="col-4">
        <button type="button" class="btn btn-link p-0">
          <img id="inVoicePic" src="../images/InVoice.png"><br/>
          <label id="inVoiceLabel">Intelligent Voice</label>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <label id="suggest" >Suggest Your own Integration</label>
      </div>
      <div class="col-7">
        <button type="submit" id="closeBtn" class="btn btn-light ">
          <label id="closeBtnLabel">Close</label>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label id="integration" >Integration Name:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input id="integInput" placeholder="Type Web Service name here...">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label id="triggers" >Triggers that you wanna have:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input id="triggerInput" placeholder="Type here triggers that you wanna use...">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="rounded-circle btn-light"
                @click="clicked2"
                :style="{ backgroundColor:
                active2 ? 'rgba(51, 123, 190, 0)' :
                'rgba(10, 114, 212, 1)',
                color: active2 ? 'black' : 'white',
      }" type="submit" id="submitBtn">
          <label id="submitBtnLabel" for="submitBtn">SUBMIT</label>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios  from "axios";
import data from "bootstrap/js/src/dom/data";
export default {
  data() {
    return {
      active: false,
      active2: false,

    };
  },
  methods: {
    clicked() {
      this.active = !this.active;
      axios.post('http://localhost:5173/',data )
      console.log("You clicked The Gira Button");
    },
    clicked2() {
      this.active2 = !this.active2;
      console.log("You clicked The Submit Button");
    },
  },

  mounted() {

  }
};
</script>

<style scoped>

#searchInput {
  border: 2px solid rgba(255, 255, 255, 0.08);
  width: 960px;
  height: 64px;
  margin-top: 78px;
  margin-left: 470px;
  border-radius: 16px;
  background-color: rgba(0,0,0,0.1);
  color: rgba(255,255,255,1)
}

#submitBtnLabel{
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 48px */
  text-transform: uppercase;

}

#submitBtn{
  width: 256px;
  height: 256px;
  margin-top: 56px;
  margin-left: 841px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  margin-bottom: 128px;
}

#triggers{
  width: 229px;
  height: 16px;
  margin-top: 34px;
  margin-left: 480px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color:white;
}
#triggerInput{
  width: 960px;
  height: 64px;
  margin-top: 14px;
  margin-left: 480px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  color:white;
}
#integration{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  width: 133px;
  height: 16px;
  margin-top: 39px;
  margin-left: 480px;
  color:white;
}
::placeholder{
  color: #67829A;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  width: 250px;
  height: 16px;
  padding-left: 24px;
}
#integInput{
  width: 960px;
  height: 64px;
  margin-top: 14px;
  margin-left: 480px;
  border-radius: 16px;

  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  color: white;

}
#closeBtnLabel{
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  width: 54px;
  height: 16px;
  margin: auto;
  display: grid;
  color: white;

}
#closeBtn{
  width: 78px;
  height: 32px;
  margin-top: 135px;
  margin-left: 30px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  gap: 10px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  border-color: rgba(51, 123, 190, 0.2) ;


}
#suggest{
  width: 726px;
  height: 24px;
  margin-top: 139px;
  margin-left: 480px;
  margin-right: 0;
  padding: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white;

}

#caltrain{
  width: 309px;
  height: 240px;
  top: 780px;
  margin-left: 480px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}
#caltrainPic{
  width: 120px;
  height: 120px;
  margin-top: 48px;
  margin-left: 0px;
}
#caltrainLabel{
  width: 193px;
  height: 24px;
  margin-top: 33px;
  margin-left: 118px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color:white;

}

#google2{
  width: 310px;
  height: 240px;
  top: 780px;
  margin-left:16px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}
#google2Pic{
  width: 108px;
  height: 108px;
  margin-top: 42px;
  margin-left: 101px;


}
#google2Label{
  width: 94px;
  height: 24px;
  margin-top: 30px;
  margin-left: 18px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
  white-space: nowrap;

}

#inVoice{
  width: 309px;
  height: 240px;
  top: 780px;
  margin-left: 16px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}
#inVoicePic{
  width: 116px;
  height: 116px;
  margin-top: 38px;
  margin-left: 77px;

}
#inVoiceLabel{

  width: 110px;
  height: 24px;
  margin-top: 20px;
  margin-left: 80px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
  white-space: nowrap;

}

#myBussiness{
  width: 309px;
  height: 240px;
  top: 780px;
  margin-left: 480px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}
#myBussinessPic{
  width: 120px;
  height: 120px;
  margin-top: 30px;
  margin-left: 20px;
}
#myBussinessLabel{
  width: 193px;
  height: 24px;
  margin-top: 20px;
  margin-left: 58px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color:white;

}

#automate{
  width: 310px;
  height: 240px;
  top: 780px;
  margin-left:16px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}
#automatePic{
  width: 108px;
  height: 108px;
  margin-top: 42px;
  margin-left: 101px;


}
#automateLabel{
  width: 94px;
  height: 24px;
  margin-top: 20px;
  margin-left: 108px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;

}

#salesForce{
  width: 309px;
  height: 240px;
  top: 780px;
  margin-left: 16px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}
#salesPic{
  width: 116px;
  height: 116px;
  margin-top: 38px;
  margin-left: 77px;

}
#salesLabel{
  width: 110px;
  height: 24px;
  margin-top: 10px;
  margin-left: 80px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;

}

#dropbox{
  width: 309px;
  height: 240px;
  top: 524px;
  left: 1131px;
  margin-left:16px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));


}
#dropboxPic{
  width: 112px;
  height: 112px;
  margin-top: 40px;
  margin-left: 79px;

}
#dropboxLabel{
  width: 82px;
  height: 24px;
  margin-top: 20px;
  margin-left: 99px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color:white;

}


#gira{
  width: 310px;
  height: 240px;
  top: 524px;
  padding:0;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}
#giraPic{
  width: 152px;
  height: 152px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0;

}
#giraLabel{
  width: 40px;
  height: 24px;
  top: 701px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  color: white;

}

#google{
  width: 309px;
  height: 240px;
  top: 524px;
  margin-left: 480px;
  border-radius: 16px;
  background: linear-gradient(304.29deg, rgba(51, 123, 190, 0.2) 0%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));



}
#drivePic{
  margin-left: 79px;
  margin-top: 40px;
}
#driveLabel{
  width: 124px;
  height: 24px;
  margin-top: 20px;
  margin-left: 73px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;

}




.body{
  background-color:black;
  padding: 0;
  margin: 0;
}
.Start {
  width: 957px;
  height: 144px;
  margin-top: 182px;
  margin-left: 482px;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
  color: white;

}
.Save {
  width: 649px;
  height: 16px;
  top: 334px;
  left: 636px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-left: 636px;

}
</style>
