<template>
  <div id="header" class="row">
  <div class="row">
    <img id="ellipseTop" src="../images/EllipseTop.png">
  </div>
  <div id="page" class="row pt-2">
    <div class="col-11">
        <h1 id="logo">Uptify</h1>
    </div>
    <div class="col-1" >
      <img class="rounded-circle "  id="login" alt="" src="../images/LOGIN.png">
    </div>
  </div>
  </div>
</template>

<script>

export default {
  name: "HeaderRow",
}

</script>



<style scoped>

#header{
  margin-top: 0px;
}

#ellipseRight{
  width: 1083px;
  height: 1083px;
  flex-shrink: 0;
  border-radius: 1083px;
  background: #0A72D4;
  filter: blur(480px);
}

#ellipseTop{
  width: 1083px;
  height: 1083px;
  flex-shrink: 0;
  border-radius: 1083px;
  background: #0A72D4;
  filter: blur(480px);
}
#page{
  background-color:black;
}
#login{

  background: linear-gradient(315deg, rgba(51, 123, 190, 0.2) 0%, rgba(0, 0, 0, 0) 100%, rgba(51, 123, 190, 0) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  width: 64px;
  height: 64px;
  margin-top: 24px;
  margin-right: 32px;
}

#logo{
  color: #f2f2f2;
  width: 148px;
  height: 48px;
  margin-top: 27px;
  margin-left: 32px;
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
</style>