<template>
  <HeaderRow/>
  <BodyRow/>
<!--  <FooTer/>-->
</template>

<script>
  import HeaderRow from "@/components/HeaderRow.vue";
  // import FooTer from "@/components/FooTer.vue";
  import BodyRow from "@/components/BodyRow.vue";
    export default {
      name: "App",
      components:{
        // FooTer,
        BodyRow,
        HeaderRow
      }
    }
</script>



<style scoped>
body {
  min-height: 100vh;
  max-width: 400px;
  background-color: papayawhip;
  margin: 0 auto;
}
</style>
